{% extends 'track/base_for_home.html'%}
{%block content%}
     



                  
                  <spam class=media>

                      
                            
                        
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 

                    
                          

                            <br>
                            <br>
                  
                            <div class="btn-group-vertical">
                       
                           <div > &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              
                                <img src="\media\piper.png" class="img-responsive"width="230" height="190">
                              
                            </div>
    

                       

                       
                       
                                              
                                           </div>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
                                          
                                            <div class="btn-group-vertical">
                                             <spam>
                                                 <p class="round1">
                                                   <img src="\media\c11.png" class="img-responsive"width="500" height="300">
                                                 </p>
                                               </spam>
                                               <br>
                       
                                               <spam>
                                                 <p class="round1">
                                                   <img src="\media\c11.png" class="img-responsive"width="500" height="300">
                                                 </p>
                                               </spam>
                                               </div>
                                              
                                              
                                           </spam>
                       
                                 </div>
                       
                       </div>         


{%endblock content%}










